{% extends '@CMS/base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block styles -%}
    {{ parent() }}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('bundles/felib/font-awesome/5/css/all.min.css') }}">

    <!-- Ionicons -->
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
    <!-- Tempusdominus Bbootstrap 4 -->
{#    <link rel="stylesheet" href="{{ asset('bundles/cms/assets/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">#}
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('bundles/cms/assets/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    {% if app.debug -%}
        <link href="{{ asset('bundles/cms/assets/adminlte/dist/css/adminlte.css') }}" rel="stylesheet" type="text/css" />
    {% else -%}
        <link href="{{ asset('bundles/cms/assets/adminlte/dist/css/adminlte.min.css') }}" rel="stylesheet" type="text/css" />
    {%- endif %}


    <link href="{{ asset('bundles/cms/assets/adminlte_custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_attr %} class="hold-transition login-page"{% endblock body_attr %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            {{ 'Admin Panel'|trans }}
            <br>
            <a href="{{ path('cms_main') }}"><b>Smart Core CMS</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{{ 'Sign in to start your session'|trans }}</p>

                <form class="form-signin" method="post">
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey }}
                        </div>
                    {% endif %}

                    <div class="input-group mb-3">
                        <input type="text" id="inputUsername" class="form-control" placeholder="{{ 'Username'|trans }}" name="_username" required autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'Password'|trans }}" name="_password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" name="_remember_me">
                                <label for="remember">
                                    {{ 'Remember Me'|trans }}
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->

{#                        <div class="col-3"></div>#}
                        <div class="col-4">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Login'|trans }}</button>
                        </div>
{#                        <div class="col-3"></div>#}
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

{% endblock %}

{#
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey }}
                </div>
            {% endif %}

            <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="{{ 'Username'|trans }}" name="_username" required autofocus>
            </div>

            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'Password'|trans }}" name="_password" required>
            </div>
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Sign in'|trans }}</button>
        </form>
    </div>
    <div class="col-sm"></div>
</div>
#}
